system/system/app/OppoCamera/OppoCamera.apk
system/system/apex/com.android.vndk.current.apex
system/system/system_ext/priv-app/Settings/Settings.apk
system/system/system_ext/priv-app/SystemUI/SystemUI.apk
.git/objects/pack/pack-45943c61f2faf0441639dcd367766d866bbee8f8.pack
vendor/etc/camera/license.lic
vendor/lib64/libMegviiHumBokehPost-mtk.so
